@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #FFF8F3;
}

.main {
    padding-top: 30px;
    background-image:  url("../images/developer.png");
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.name {
    font-size: 28px;
    font-weight: bolder;
}

nav .list-ital ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.btn {
    background-color: #FD6E0A;
    padding: 5px 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#hero {
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
}

.hero-contant {
    height: 400px;
    width: 50%;
}

.hero-img {
    height: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/hardy.png") , url("../images/header_bg.png ");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFF8F3;
    margin-top: 50px;
    width: 50%;
}

.hero-contant {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-contant h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.hero-contant h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.hero-contant p {
    font-size: 14px;
    margin-right: 30px;
    color: gray;
}

.button {
    display: flex;
    margin-top: 20px;
    gap: 16px;
}

.button span {
    border: 2px solid #FD6E0A;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.about{
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #FFF8F3;
    border: 1px solid white;
}

.about-contant{
    border: 1px solid black;
    margin: 120px;
    background-color: white;
    text-align: center;
}

.about-contant p{
    margin-top: 30px;
    color: gray;
}
.info{
    color: gray;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skils{
    border: 2px solid red;
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}