@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #FFF8F3;
}

.main {
    padding-top: 30px;
    background-image: url("../images/developer.png");
    background-size: contain;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 120px;
    margin-right: 120px;
}

.name {
    font-size: 28px;
    font-weight: bolder;
}

nav .list-ital ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.btn {
    background-color: #FD6E0A;
    padding: 5px 14px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#hero {
    display: flex;
    margin-top: 20px;
    margin-left: 120px;
}

.hero-contant {
    height: 400px;
    width: 50%;
}

.hero-img {
    height: 380px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("../images/hardy.png"), url("../images/header_bg.png ");
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: #FFF8F3;
    margin-top: 50px;
    width: 50%;
}

.hero-contant {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.hero-contant h3 {
    font-size: 22px;
    margin-bottom: 5px;
}

.hero-contant h1 {
    font-size: 40px;
    font-weight: bolder;
    margin-bottom: 8px;
}

.hero-contant p {
    font-size: 14px;
    margin-right: 30px;
    color: gray;
}

.button {
    display: flex;
    margin-top: 20px;
    gap: 16px;
}

.button span {
    border: 2px solid #FD6E0A;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.about {
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    background-color: #FFF8F3;
    border: 1px solid white;
}

.about-contant {
    border: 1px solid black;
    margin: 120px;
    background-color: white;
    text-align: center;
}

.about-contant p {
    margin-top: 30px;
    color: gray;
}

.info {
    color: gray;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.skils {
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}

.skils h2 {
    text-align: center;
    margin-bottom: 40px;
}

.skils p {
    text-align: center;
    width: 80%;
    color: gray;
    margin: 0 auto;
}

.itmes {
    display: flex;
    margin-top: 100px;
    text-align: left;
}

.itmes p {
    text-align: left;
    margin-top: 10px;
    margin-left: 0;
}

.itmes i {
    font-size: 40px;
    margin-bottom: 10px;
}

.itam1 {
    padding: 20px;
    padding-right: 0;
    box-shadow: 5px 5px 5px 5px gray;
}

.itam2 {
    padding: 20px;
    padding-right: 0;
    margin-left: 10px;
    box-shadow: 5px 5px 5px 5px gray;

}

.itam3 {
    padding: 20px;
    padding-right: 0;
    margin-left: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.itam4 {
    padding: 20px;
    padding-right: 0;
    margin-left: 10px;
    box-shadow: 5px 5px 5px 5px gray;
}

.my-Resume{
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
}

.my-Resume h1{
    text-align: center;
    margin-bottom: 80px;
}

.Resume{
    display: flex;
    justify-content: space-between;
}

.Resume p{
    color: gray;
    font-size: 12px;
}

.Resume h5{
    color: gray;
    margin: 4px 0 10px 0;
}

.Resume h3{
    margin-top: 16px;
}

.description{
    padding-right: 100px;
}

.my-Resume .button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

footer{
    background-color:  #FFF8F3;
}

#connect{
    display: flex;
    width: 70%;
    margin: 0 auto;
    margin-top: 120px;
    justify-content: space-between;
    margin-bottom: 120px;
}

.connect{
    padding-right: 100px;
    margin-top: 120px;
    width: 550px;
}

.connect p{
    margin-top: 30px;
    font-size: 12px;
    color: gray;
}

.connect .icon{
    margin-top: 20px;
    color: #FD6E0A;
    font-size: 20px;    
}

.connect .icon i{
margin-left: 10px;
}

#message{
    margin-top: 120px;
}

.message{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 180px;
    gap: 20px;
}
.message input {
    width: 280px;
    height: 30px;
    border: none;
}

.message textarea{
    border: none;
}

.message .btn{
    width: 120px;
}

